 <!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <div class="container">
  <div class="header">
  <title>Numerology App</title> <hr>
  <meta name="author" content="Glenda Lewis">
  <meta name="description" content="This page was created to test Sinatra templates">
 </head>
 <body><h2>Numerology App</h2>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <div class="container"><%= yield %></div>
 </body>
</html>

